html {
    background-color: #d1a866;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    margin: 0;
}

.logo {
    width: 25%;
}

.logo img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    font-size: 3rem;
}


#Recherche {
    background-image: url('comment-faire-fond-blanc-brun-pour-sauce.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 219px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: 60%;
}


footer {
    display: flex;
    justify-content: center;
    padding: 10px;

    color: white;
}